
.project-tile-grid{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    --gap: 24px;
}

.project-tile{
    background-color: #fff9f5;
    width: 355px;
    height : 72px;
    border-style: solid;
    border-width: .5px;
    border-radius: 2px;
    padding: 16px;
    box-shadow: 0px 0px 3px rgb(232, 232, 232);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    transition: transform 250ms;
}

.project-tile:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 3px rgb(205, 205, 205);
}

.icon-background{
    height:72px !important;
    width: 72px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-shrink: 0;
}

.tile-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tile-title{
    font-family: 'Inter-ExtraBold';
    color: var(--main-orange);
    font-size: 20px;
}

.tile-description{
    width: fit-content;
    font-size: 14px;
    color:rgb(67, 67, 67);
    font-family: 'Inter-Regular',Optional;
  font-weight: normal;
}

@media only screen and (max-width: 848px) {
    .project-tile {
      width:100%;
    }
  }
