@font-face {
  font-family: "Inter-Black";
  src: url("./assets/Inter-Black.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/Inter-Regular.ttf")  format('truetype');   
}

@font-face {
  font-family: "Inter-Medium";
  src: url("./assets/Inter-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("./assets/Inter-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/Inter-Bold.ttf") format('truetype');
}

:root {
  --main-orange: #FE9256;
  --dark-orange-text: #A65E36;
  --wrapper-width: 800px;
  --wrapper-margin:24px;
  --body-font:16px
}

.body-text{
  font-family: 'Inter-Regular',Optional;
  font-weight: normal;
  font-size: 16px;
}