@font-face {
  font-family: "Inter-Black";
  src: url("./assets/Inter-Black.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/Inter-Regular.ttf")  format('truetype');   
}

@font-face {
  font-family: "Inter-Medium";
  src: url("./assets/Inter-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("./assets/Inter-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/Inter-Bold.ttf") format('truetype');
}

:root {
  --main-orange: #FE9256;
  --dark-orange-text: #87380e;
  --light-orange:#FFECE1;
  --grey-0:#3F3F3F;
  --grey-1:#4F4F4F;
  --grey-3:#bababa;
  --orange-white-text: #FFECE1;
  --wrapper-width: 800px;
  --wrapper-margin:24px;
  --body-font:16px
}

.body-text{
  font-family: 'Inter-Regular',Optional;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.6px;
}

.body-text-bold{
  font-family: 'Inter-Bold',Optional;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.6px;
}